[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
cython = "*"
scikit-learn = "==0.21.*"
eli5 = "==0.10.*"
voikko = "*"
jupyter = "*"
matplotlib = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.8"
